.small-calendar-widget {
    height: 290px;
    width: 400px;
    border-radius: var(--border-radius-card);
    font-family: var(--font-family);
    font-weight: var(--body-weight);
    font-size: 12px;
}

.rbc-calendar {
    border: none;
}

.rbc-month-view {
    padding: 8px;
}

.rbc-header {
    font-weight: var(--button-weight);
    color: var(--black);
}

.rbc-header span {
    text-transform: uppercase;
}

/* Oculta las celdas de días que no quieres mostrar */
.rbc-week-view .rbc-time-content,
.rbc-week-view .rbc-label-col {
  display: none;
}

.rbc-day-bg {
    background-color: var(--white);
}

.rbc-day-bg-today {
    background-color: var(--secondary-500);
}

.rbc-date-cell {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100%;
}

.rbc-date-cell.rbc-off-range {
    display: none;
}