.btn-text {
    font-family: var(--font-family);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    color: var(--black);
    background-color: transparent;
    border: none;
    text-align: left;
    width: 100%;
}

.btn-text__icon, 
.btn-text__icon--right {
    color: var(--black);
    font-size: var(--button-size);
}

/* Hover */
.btn-text:hover {
    color: var(--neutral-250);
}

/* Selected */
.btn-text.selected {
    font-size: var(--button-size);
    font-weight: var(--button-weight);
}
