.filter-group {
    background-color: var(--white);
    padding: 4px 12px;
    border-radius: var(--border-radius-button);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* adjust to small screens */
    gap: 16px;
    align-items: center;
    height: 45px;
    width: 777px;
}

.faFilter {
    color: var(--neutral-750);
    background-color: transparent;
    font-size: var(--h2-size);
}