.feedback__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 20px; 
    z-index: 10000;
    pointer-events: none; 
    background: rgba(0, 0, 0, 0.4);
  }
  
  .feedback__container {
    padding: 16px 8px;
    border-radius: var(--border-radius-card);
    font-family: var(--font-family);
    font-weight: var(--body-weight);
    font-size: var(--body-size);  
    text-align: center;
    background-color: var(--white);
    color: var(--black);
    pointer-events: auto;
    min-width: 200px;
  }
  
  .feedback-message--error {
    background-color: var(--background-red);
    color: var(--border-red);
  }
  