.calendar-style{
    font-family: var(--font-family);
}

.calendar-container-full .rbc-calendar {
  background-color: var(--white);
  border-radius: 8px;
  padding: 10px;
}

.calendar-container-full .rbc-header {
  background-color: var(--primary-250);
  color: var(--neutral-750);
  font-weight: bold;
}

.calendar-container-full .rbc-event {
  background-color: var(--primary-500);
  color: var(--neutral-750);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.85rem;
}

.calendar-container-full .rbc-event:hover {
  background-color: #357ab8;
}

/* Today */ 
.calendar-container-full .rbc-today{
    background-color: var(--secondary-250);
}

.calendar-container-full .rbc-off-range-bg{
    background-color: var(--neutral-250);
}